.footerMain {
    background-color: #459068;
    color: #E9982D;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

span {
    font-size: 1.3rem;
}

@media(min-width: 1200px) {
    .footerMain{
        margin-top: 55em;
    }
}