footer {
    background-color: #107552c4;
    color: #E9982D;
    padding: 20px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

span {
    font-size: 1.3rem;
}